body{
  margin: 0;
  font-family: 'Open Sans', Arial;
  color: #515151;
}

header{
  background: #244457;

  height: 50px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav{
  height: inherit;
}

span{
  padding: 0;
  display: inline;
}

.menu{
  height: inherit;
  display: flex;
  align-items: center;
}

.menu ul{
  margin: 0;
  display: flex;
  height: inherit;
<<<<<<< HEAD
}

.menu li{
  list-style: none;
  display: flex;
  align-items: center;
  color: white;
  height: inherit;
}

.menu li:after{
  content: "|";
  display: inline-block;
}

.menu li:last-child::after{
  display: none;
}

.menu li a
{
  color:white;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 0 10px;
  height: inherit;
}

.menu li a:hover{
  box-shadow: inset 0 5px 0 red;
}

.button{
  background: #fd342e;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, .3);
  font-size: 14px;
  padding: 5px 10px 10px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  transition: 0.5s;
  margin-left: 10px;

}

.button:hover{
  background: green;
}

.portada{
  width: 100%;
  background: lightgray;
}

.contenedor{
  width: 50%;
  margin: auto;
  position: relative;
}

.busqueda{
  display: flex;
  justify-content: flex-end;
  padding: 5px 0;
}

.lupa{
  background: #222222;
  color: white;
  border: none;
  margin-left: 5px;
  width: 40px;
  font-size: 30px;
}

.caja_busqueda{
  outline: none;
  padding: 5px;
  color: #505050;
  font-size: 20px;
}

.caja_busqueda, .lupa{
  border-radius: 5px;
  
}

.background{
  background: url(../Media/Portada.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  padding-top: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.articulo-portada{
  background: rgba(240,240,240,0.7);
  width: 50%;
  margin-left: 2%;
  margin-bottom: 3%;
  padding: 20px
  
}

.articulo-portada h2{
  color: #606060;
  font-size: 40px;
  margin: 0;
  padding-bottom: 20px;
  border-bottom: 1px solid lightgray;
}

.autor{
  margin: 0;
}

.autor figcaption{
  display: inline;
  vertical-align: 50%;
}

.articulo_info{
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #808080;
}

.avatar{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 15px;
}

.contenido{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.articulo{
  display: inline-block;
  width: 31%;
  margin: 20px 0 10px 0;
}

.articulo img{
  width: 100%;
  height: auto;;
}

.articulo h3{
  color: #505050;
  margin: 10px 0 0 0;
  padding-bottom: 20px;
  border-bottom: 1px solid lightgray;
}

.footer{
  display: flex;
  justify-content: center;
  padding: 10px 0 50px 0;
<<<<<<< HEAD
}

.footer span, .footer a{
  padding: 5px;
  margin: 10px;
  color: #222222;
}

.footer a{
  text-decoration:none;
}
.footer a:not(:first-of-type){
  background: lightgray;
  border: 0.3px solid #afafaf;

}